<div>
    <h2>Dashboard</h2>
    <div *ngIf="createTeam">
        <button type="button" class="btn btn-info btn-md" (click)="onCreateTeam()" align="right">
            Create Team
        </button>
    </div>

    <div>
        <div *ngIf="teamCreated">
            <button type="button" class="btn btn-info btn-md" (click)="onAddMember()">
                Add Member
            </button>
        </div>
    </div>

    <div *ngIf="addMember">
        <button type="button" class="btn btn-info btn-md" (click)="onMyTeam()">
            My Team
        </button>
    </div>
</div>


<div *ngIf="addMember" class="card card-cert">
    <!-- <div class="card-header">
            <h2>Certifications Status List</h2>
        </div> -->
    <div class="card-body">

        <p-table #dt [columns]="colsEmployee" [value]="employeeList">
            <ng-template pTemplate="caption">
                <div style="float: left">
                    <h2>Add Member</h2>
                </div>
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter" class="global-filter"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<div *ngIf="createForm" class="card card-cert">
    <div class="card-body">
        <div id="add-cert">
            <div class="container">
                <h3 class="text-center ">Create Team</h3>
                <form id="addCert-form" [formGroup]="addTeam" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12 login-row" id="login-row">
                            <div class="justify-content-center align-items-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="empId">Team Name</label>
                                            <input type="text" name="empId" id="empId" class="form-control"
                                                formControlName="employeeId" placeholder="Team name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="certCategory">Project*</label><br>
                                            <select id="certCategory" class="form-control"
                                                formControlName="certificationCategory">
                                                <option value="">Choose Project</option>
                                                <option>Agile</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group submit-button">

                                <input type="submit" name="submit" class="btn btn-primary btn-md" value="Create">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>











<div *ngIf="showTeam" class="card card-cert">
    <!-- <div class="card-header">
        <h2>Certifications Status List</h2>
    </div> -->
    <div class="card-body">

        <p-table #dt [columns]="colsMember" [value]="teamMemberList">
            <ng-template pTemplate="caption">
                <div style="float: left">
                    <h2>My team</h2>
                </div>
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter" class="global-filter"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>