
.card-container{
    .background-image{
      position: absolute;
      height: 100%;
      width:100%;
      top:0;
      z-index: -1;
      >img{
        height: 100%;
        width:100%;
        object-fit: cover;
        opacity: 0.2;
      }
    }
  .card{
    background-color: #fff0;
    &-body{
      background-color: #FFF;
      min-height: calc(100vh - 350px);
      width:75%;
      margin-left: auto;
      margin-right: auto;
  
      .login-row{
        margin-left: auto;
        margin-right: auto;
      }
    }
  
    
    .submit-button{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  }
  
  h3{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .col-md-6{
    padding: 15px;
  }
  
  .xx{
    margin-right: 40px;
    width: 100px;
    background-color: #ef9c9c}