
.main{
  background-image: url('../../../assets/image/signup-bg.jpg');
  background-color: #f8f8f8;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 120px 0;

  .container{
    width:800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    align-content: center;
  }

  .signup-area{
    padding: 75px 0;
  }

  .form-section{
    margin-left: 75px;
    margin-right: 75px;
  }

  .signup-form{
    width:100%;
  }

.col-md-6{
  padding: 15px;
}

h2{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
}

input, select {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #999;
  border-radius: 0rem;
}

input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
  border-bottom: 1px solid red;

}

.form-submit{
display: inline-block;
background: #6dabe4;
color: #fff;
border-bottom: none;
width: auto;
padding: 15px 39px;
cursor: pointer; 
}

.form-submit:hover {
background: #4292dc; 
}

.login-page-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center; 
  margin-top: 50px;
  }

.ui-calendar{
  width:100%;
  ui-inputtext{
    width: 100%;
  }
  .ui-button{
    background-color: #4292dc !important;
  }
}

}

 

  
  